/* mobile View */

@media only screen and (max-width:600px){
    
    .SideBar  img {
        width: 20px;
    }
    .buttonBox {
        display: ;
    }
    .SideBar button {
        background-color: transparent;
        padding: 0;
        margin: 3px;
        display: flex;
        justify-content: end;
        border: none;
        margin-bottom: 0;
    }
    
    #topics {
        display: none;
        
    }
    #topics a{
        text-decoration: none;
        color: black;
    }
    
    #topics li {
        display: block;
        margin-bottom: 8px;
        margin-right: 30px;
        font-weight: 500;
        padding: 10px;
        border-bottom: 1px solid gray;
    }

    .newscontent div{
        width: 95%;
        margin-left: 2.5%;
        margin: 10px;
        background-color: blue;
    }
    .newscontent img{
       width: 100%;
    }
    
}

/* Desktop View*/
@media only screen and (min-width:601px){

    .SideBar nav {
        display: none;
    }
    .SideBar button{
        display: none;
    }
    
    #topics ul{
        margin: 0;
        display: flex;
        justify-content: space-around;
    }
    #topics li{
        display: block;
        margin: 10px;
    }
    #topics{
        display: block;
    }
    #topics a{
        text-decoration: none;
        color: black;
        font-weight: 500;
        padding: 10px;
    }
    .newscontent img{
        width: 100%;
     }
}



